.default_spacing {
  margin-top: 25px;
}

.panel-body{
  overflow-y: auto;
  height: 210px;
}

.container{
  margin-top: 50px;
  margin-bottom: 50px;
}

.btn-operator{
  margin-right: 10px;
}

.border-right{
  border-right-style: solid;
  border-right-color: #d8d8d8;
  border-right-width: 1px;
}

.title-es{
  border-bottom-style: solid;
  border-bottom-color: #d8d8d8;
  border-bottom-width: 1px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.list-card{
  padding-right: 0px;
}

.list-row{
  margin-left: 0px;
  margin-right: -1px;
}

.margin-right{
  margin-right: 15px;
}

.margin-top{
  margin-top: 15px;
}